div.order-on {
    background-color: rgb(92, 92, 48);
    color: yellow;
    font-size: x-large;
    padding: 3px;
}

div.order-end {
    background-color: red;
    color: black;
    font-size: x-large;
    padding: 3px;
}

img.img {
    height: 60px;
    border-radius: 40%;
}