.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: rgb(87, 235, 87);
    background-color: rgb(59, 59, 128, 0.9);
    /* justify-content: center; */
}

.turtles-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}